body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  
  .banner {
    background-color: #eee;
    padding: 50px 20px;
    text-align: center;
  }
  
  .receptores {
    padding: 20px;
  }
  
  .search-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .receptores-list li {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .agendamento, .niveis {
    padding: 20px;
  }


  img{
    width: 40%;
  }

